%div{class:"absolute bg-cover w-screen h-screen overflow-y-hidden", style: "transform: translatey(-3rem);"}
  =image_tag "bg.jpg", class:"absolute w-screen h-screen -z-50"
%div{class:"flex flex-row h-screen w-screen grow justify-around items-center"} 
  %div{class:"flex flex-row z-50 grow flex flex-col"}
    %h1{class:"text-9xl text-yellow-300 relative bottom-20 font-extrabold"} ₱TAKA
    %p{class:"text-2xl text-yellow-200 relative bottom-14 left-10"} Your Secure Stock Market App

  %div{class:"w-full max-w-xs z-50"}
    %div{class:"bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"}
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %div{class:"mb-4"}
          .field
            = f.label :email, class:"block text-gray-700 text-sm font-bold"
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        %div{class:"mb-6"}
          .field
            = f.label :password, class: "block text-gray-700 text-sm font-bold"
            %br/
            = f.password_field :password, autocomplete: "current-password", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
        - if devise_mapping.rememberable?
          %div{class:"mb-6"}
            .field
              = f.check_box :remember_me
              = f.label :remember_me, class:"text-gray-700 text-sm font-bold"
        .actions{class:"flex flex-row justify-center"}
          = f.submit "Log in", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer"
