= form_for @market_portfolio do |f|
  - if @market_portfolio.errors.any?
    #error_explanation
      %h2= "#{pluralize(@market_portfolio.errors.count, "error")} prohibited this market_portfolio from being saved:"
      %ul
        - @market_portfolio.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :portfolio_id
    = f.text_field :portfolio_id
  .field
    = f.label :market_id
    = f.text_field :market_id
  .field
    = f.label :stocks
    = f.text_field :stocks
  .field
    = f.label :revenue
    = f.text_field :revenue
  .actions
    = f.submit 'Save'
