
%link{href: "https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css", rel: "stylesheet"}/
-#%link{href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css", rel: "stylesheet"}/

%h1 Listing markets

%table
  %thead
    %tr
      %th Logo
      %th Name
      %th Symbol
      %th Description
      %th Supply
      %th Market Cap
      %th Price
      %th
      %th
      %th

  %tbody
    - @markets.each do |market|
      %tr
        %td= market.logo
        %td= market.name
        %td= market.symbol
        %td= market.description
        %td= market.supply
        %td= market.market_cap
        %td= market.market_cap / market.supply
        - if policy(:market).buy?
          %td
            = render :partial => 'buy_form', :locals => { :info => market }
        - if policy(:market).actions?
          %td= link_to 'Show', market
          %td= link_to 'Edit', edit_market_path(market)
          %td= link_to 'Destroy', market, :method => :delete, :data => { :confirm => 'Are you sure?' }


%br

= link_to 'New Market', new_market_path