%p#notice= notice


%p
  %b Account:
  = @log.account_id

%p
  %b Date
  = @log.created_at
  
%p
  %b Description:
  = @log.description

= link_to 'Edit', edit_log_path(@log)
\|
= link_to 'Back', logs_path
