= form_for @account do |f|
  - if @account.errors.any?
    #error_explanation
      %h2= "#{pluralize(@account.errors.count, "error")} prohibited this account from being saved:"
      %ul
        - @account.errors.full_messages.each do |msg|
          %li= msg
  .flex.flex-wrap.-mx-3.mb-6
    .w-full.px-3
      %label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2{for: "account_img"}
        Image
      = f.file_field :img, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", required: true
  
  .flex.flex-wrap.-mx-3.mb-6
    .w-full.px-3.mb-6.md:mb-0{class: "md:w-1/2"}
      %label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2{for: "account_firstname"}
        Firstname
      = f.text_field :firstname, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", required: true
      -#%p.text-red-500.text-xs.italic Please fill out this field.
    .w-full.px-3{class: "md:w-1/2"}
      %label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2{for: "account_lastname"}
        Lastname
      = f.text_field :lastname, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
  
  .flex.flex-wrap.-mx-3.mb-6
    .w-full.px-3.mb-6.md:mb-0{class: "md:w-1/2"}
      %label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2{for: "account_contact_number"}
        Contact Number
      = f.text_field :contact_number, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", required: true
      -#%p.text-red-500.text-xs.italic Please fill out this field.
    .w-full.px-3{class: "md:w-1/2"}
      %label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2{for: "account_role"}
        Role
      = f.select :role, options_for_select([["broker", "broker"], ["trader", "trader"]], :selected => @account.role), {} ,{:required => "true", class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}
  .flex.flex-wrap.-mx-3.mb-6
    .w-full.px-3
      %label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2{for: "account_address"}
        Address
      = f.text_area :address, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", required: true
  .flex.flex-wrap.-mx-3.mb-6
    = f.fields_for :user do |u|
      .w-full.px-3.mb-6.md:mb-0{class: "md:w-1/2"}
        %label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2{for: "account_img"}
          Email
        = u.email_field :email, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", required: true
        -#%p.text-red-500.text-xs.italic Please fill out this field.
      .w-full.px-3{class: "md:w-1/2"}
        %label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2{for: "account_role"}
          Password
        = u.password_field :password, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", required: true
      = u.hidden_field :id, value: u.object.id
  .flex.justify-between.w-full.px-3
    .md:flex.md:items-center
      %a.bg-gray-800.py-2.px-5.text-white.hover:bg-white.hover:text-indigo-900.sm:rounded-lg.float-right{href: accounts_path} Back
    %button.shadow.bg-indigo-600.hover:bg-indigo-400.focus:shadow-outline.focus:outline-none.text-white.font-bold.py-2.px-6.rounded{type: "submit"}
      Save Account
