

-#         %p
-#       %b Img:
-#       = @account.img
-#     %p
-#       %b Role:
-#       = @account.role
-#     %p
-#       %b Firstname:
-#       = @account.firstname
-#     %p
-#       %b Lastname:
-#       = @account.lastname
-#     %p
-#       %b Address:
-#       = @account.address
-#     %p
-#       %b Contact number:
-#       = @account.contact_number
-#     %p
-#       %b Is verified:
-#       = @account.is_verified

-#     %p
-#       %b Wallet:
-#       = @account.wallet.balance

-#     = link_to 'Edit', edit_account_path(@account)
-#     \|
-#     = link_to 'Back', accounts_path


-#     %h1 Listing market_portfolios

-#     %table
-#       %thead
-#         %tr
-#           %th Market
-#           %th Stocks
-#           %th Revenue
-#           %th
-#           %th
-#           %th

-#       %tbody
-#         - @portfolio.each do |market_portfolio|
-#           %tr
-#             %td= market_portfolio.market.name
-#             %td= market_portfolio.stocks
-#             %td= market_portfolio.revenue
-#             %td= link_to 'Show', market_portfolio
-#             %td= link_to 'Edit', edit_market_portfolio_path(market_portfolio)
-#             %td= link_to 'Destroy', market_portfolio, :method => :delete, :data => { :confirm => 'Are you sure?' }

-#     %br

-#     = link_to 'New Market portfolio', new_market_portfolio_path
%section.md:container.md:mx-auto
  #main.main-content.flex-1.bg-gray-100.mt-12.md:mt-2.pb-24.md:pb-5
    .bg-gray-800.pt-3
      .rounded-tl-3xl.bg-gradient-to-r.from-blue-900.to-gray-800.p-4.shadow.text-2xl.text-white
        %h1.font-bold.pl-2 Profile
      
    .flex.flex-col.mt-2.w-full.p-3
      .md:flex.no-wrap.md:-mx-2
        .w-full.md:mx-2{class: "md:w-2/12"}
          .bg-white.p-3.border-t-4.border-gray-800.rounded-full
            .image.overflow-hidden.rounded-full
              %img.h-40.w-full.mx-auto{alt: "No photo available", src: "#{@account.img.to_s}"}/
            -#%h1.text-gray-900.font-bold.text-xl.leading-8.my-1 Jane Doe 
            -#%h3.text-gray-600.font-lg.text-semibold.leading-6 Owner at Her Company Inc.
          
        .w-full.mx-2{class: "md:w-10/12"}
          .bg-white.p-3.shadow-sm.rounded-sm.rounded
            .flex.items-center.space-x-2.font-semibold.text-gray-900.leading-8
              %span{clas: "text-green-500"}
                %a.fas.fa-pen.py-2.px-2.bg-blue-900.text-white.hover:bg-white.hover:text-indigo-900.sm:rounded-lg{href: edit_account_path(@account)}

              %span.tracking-wide About
            .text-gray-700
              .grid.md:grid-cols-2.text-sm
                .grid.grid-cols-2
                  .px-4.py-2.font-semibold First Name
                  .px-4.py-2
                    = @account.firstname
                .grid.grid-cols-2
                  .px-4.py-2.font-semibold Last Name
                  .px-4.py-2
                    = @account.lastname
                .grid.grid-cols-2
                  .px-4.py-2.font-semibold Role
                  .px-4.py-2
                    = @account.role
                .grid.grid-cols-2
                  .px-4.py-2.font-semibold Contact No.
                  .px-4.py-2
                    = @account.contact_number
                .grid.grid-cols-2
                  .px-4.py-2.font-semibold Address
                  .px-4.py-2
                    = @account.address
                .grid.grid-cols-2
                  .px-4.py-2.font-semibold Email.
                  .px-4.py-2
                    %a.text-blue-800
                      = @account.user.email
    - unless current_user.role == 'admin'
      .flex.flex-wrap
        .w-full.p-6{class: "md:w-1/2 xl:w-1/3"}
          .bg-gradient-to-b.from-yellow-200.to-yellow-100.border-b-4.border-yellow-600.rounded-lg.shadow-xl.p-5
            .flex.flex-row.items-center
              .flex-shrink.pr-4
                .rounded-full.p-5.bg-yellow-600
                  %i.fas.fa-exchange-alt.fa-2x.fa-inverse
              .flex-1.text-right.md:text-center
                %h2.font-bold.uppercase.text-gray-600 Total stocks
                %p.font-bold.text-3xl
                  2
                  -# %span.text-yellow-600
                  -#   %i.fas.fa-exchange-alt

        .w-full.p-6{class: "md:w-1/2 xl:w-1/3"}
          .bg-gradient-to-b.from-pink-200.to-pink-100.border-b-4.border-pink-500.rounded-lg.shadow-xl.p-5
            .flex.flex-row.items-center
              .flex-shrink.pr-4
                .rounded-full.p-5.bg-pink-600
                  %i.fas.fa-wallet.fa-2x.fa-inverse
              .flex-1.text-right.md:text-center
                %h2.font-bold.uppercase.text-gray-600 Total Balance
                %p.font-bold.text-3xl
                  249
                  -# %span.text-pink-500
                  -#   %i.fas.fa-exchange-alt
          
        .w-full.p-6{class: "md:w-1/2 xl:w-1/3"}
          .bg-gradient-to-b.from-green-200.to-green-100.border-b-4.border-green-600.rounded-lg.shadow-xl.p-5
            .flex.flex-row.items-center
              .flex-shrink.pr-4
                .rounded-full.p-5.bg-green-600
                  %i.fa.fa-wallet.fa-2x.fa-inverse
              .flex-1.text-right.md:text-center
                %h2.font-bold.uppercase.text-gray-600 Total Revenue
                %p.font-bold.text-3xl
                  $3249
                  -# %span.text-green-500
                  -#   %i.fas.fa-caret-up
    
                
    .flex.flex-col.mt-2.w-full.p-3
      .flex.flex-col
        .-my-2.overflow-x-auto.sm:-mx-6.lg:-mx-8
          .py-2.align-middle.inline-block.min-w-full.sm:px-6.lg:px-8
            .shadow.overflow-hidden.border-b.border-gray-200.sm:rounded-lg
              %h1.font-bold.pl-2.p-3 Portfolio
              %table.min-w-full.divide-y.divide-gray-200
                %thead.bg-gray-50
                  %tr
                    %th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider{scope: "col"}
                      Name
                    %th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider{scope: "col"}
                      Title
                    %th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider{scope: "col"}
                      Status
                    %th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider{scope: "col"}
                      Role
                    %th.relative.px-6.py-3{scope: "col"}
                      %span.sr-only Edit
                %tbody.bg-white.divide-y.divide-gray-200
                  %tr
                    %td.px-6.py-4.whitespace-nowrap
                      .flex.items-center
                        .flex-shrink-0.h-10.w-10
                          %img.h-10.w-10.rounded-full{alt: "", src: "https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60"}/
                        .ml-4
                          .text-sm.font-medium.text-gray-900
                            Jane Cooper
                          .text-sm.text-gray-500
                            jane.cooper@example.com
                    %td.px-6.py-4.whitespace-nowrap
                      .text-sm.text-gray-900 Regional Paradigm Technician
                      .text-sm.text-gray-500 Optimization
                    %td.px-6.py-4.whitespace-nowrap
                      %span.px-2.inline-flex.text-xs.leading-5.font-semibold.rounded-full.bg-green-100.text-green-800
                        Active
                    %td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500
                      Admin
                    %td.px-6.py-4.whitespace-nowrap.text-right.text-sm.font-medium
                      %a.text-indigo-600.hover:text-indigo-900{href: "#"} Edit
                  / More people...
:javascript
  /*Toggle dropdown list*/
  function toggleDD(myDropMenu) {
      document.getElementById(myDropMenu).classList.toggle("invisible");
  }
  /*Filter dropdown options*/
  function filterDD(myDropMenu, myDropMenuSearch) {
      var input, filter, ul, li, a, i;
      input = document.getElementById(myDropMenuSearch);
      filter = input.value.toUpperCase();
      div = document.getElementById(myDropMenu);
      a = div.getElementsByTagName("a");
      for (i = 0; i < a.length; i++) {
          if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
              a[i].style.display = "";
          } else {
              a[i].style.display = "none";
          }
      }
  }
  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
      if (!event.target.matches('.drop-button') && !event.target.matches('.drop-search')) {
          var dropdowns = document.getElementsByClassName("dropdownlist");
          for (var i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (!openDropdown.classList.contains('invisible')) {
                  openDropdown.classList.add('invisible');
              }
          }
      }
  }