= render :partial => 'layouts/table_links'
%section.md:container.md:mx-auto
  #main.main-content.flex-1.bg-gray-100.mt-12.md:mt-2.pb-24.md:pb-5
    .bg-gray-800.pt-3
      .rounded-tl-3xl.bg-gradient-to-r.from-blue-900.to-gray-800.p-4.shadow.text-2xl.text-white
        %h1.font-bold.pl-2 Profile
      
    .flex.flex-col.mt-2.w-full.p-3
      .md:flex.no-wrap.md:-mx-2
        .w-full.md:mx-2{class: "md:w-2/12"}
          .bg-white.p-3.border-t-4.border-gray-800.rounded-full
            .image.overflow-hidden.rounded-full
              %img.h-40.w-full.mx-auto{alt: "No photo available", src: "#{@account.img.to_s}"}/
            -#%h1.text-gray-900.font-bold.text-xl.leading-8.my-1 Jane Doe 
            -#%h3.text-gray-600.font-lg.text-semibold.leading-6 Owner at Her Company Inc.
          
        .w-full.mx-2{class: "md:w-10/12"}
          .bg-white.p-3.shadow-sm.rounded-sm.rounded
            .flex.items-center.space-x-2.font-semibold.text-gray-900.leading-8
              %span{clas: "text-green-500"}
                %a.fas.fa-pen.py-2.px-2.bg-blue-900.text-white.hover:bg-white.hover:text-indigo-900.sm:rounded-lg{href: edit_account_path(@account)}

              %span.tracking-wide About
            .text-gray-700
              .grid.md:grid-cols-2.text-sm
                .grid.grid-cols-2
                  .px-4.py-2.font-semibold First Name
                  .px-4.py-2
                    = @account.firstname
                .grid.grid-cols-2
                  .px-4.py-2.font-semibold Last Name
                  .px-4.py-2
                    = @account.lastname
                .grid.grid-cols-2
                  .px-4.py-2.font-semibold Role
                  .px-4.py-2
                    = @account.role
                .grid.grid-cols-2
                  .px-4.py-2.font-semibold Contact No.
                  .px-4.py-2
                    = @account.contact_number
                .grid.grid-cols-2
                  .px-4.py-2.font-semibold Address
                  .px-4.py-2
                    = @account.address
                .grid.grid-cols-2
                  .px-4.py-2.font-semibold Email.
                  .px-4.py-2
                    %a.text-blue-800
                      = @account.user.email
    - unless current_user.role == 'admin'
      = render 'stats_counts'

    .flex.flex-col.mt-2.w-full.p-6
      .flex.flex-col
        .-my-2.overflow-x-auto.sm:-mx-6.lg:-mx-8
          .py-2.align-middle.inline-block.min-w-full.sm:px-6.lg:px-8
            %body.bg-gray-100.text-gray-900.tracking-wider.leading-normal
              %h1.font-bold.pl-2.p-3 Portfolio 
              %table#example.stripe.hover{style: "width:100%; padding-top: 1em;  padding-bottom: 1em;"}
                %thead
                  %tr
                    %th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider{scope: "col"}
                      Market
                    %th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider{scope: "col"}
                      Stocks
                    %th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider{scope: "col"}
                      Price
                    %th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider{scope: "col"}
                      Revenue
                    %th.relative.px-6.py-3{scope: "col"}
                      %span.sr-only Edit
                %tbody.bg-white.divide-y.divide-gray-200
                  - @portfolio.each do |market_portfolio|
                    %tr
                      %td.px-6.py-4.whitespace-nowrap
                        .flex.items-center
                          .flex-shrink-0.h-10.w-10
                            %img.h-10.w-10.rounded-full{alt: "", src: "#{market_portfolio.market.logo.to_s}"}/
                          .ml-4
                            .text-sm.font-medium.text-gray-900
                              = market_portfolio.market.symbol
                            .text-sm.text-gray-500
                              = market_portfolio.market.name
                      %td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500
                        = market_portfolio.stocks
                      %td.px-6.py-4.whitespace-nowrap
                        %span.px-2.inline-flex.text-xs.leading-5.font-semibold.rounded-full.bg-green-100.text-green-800
                          = market_portfolio.price
                      %td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500
                        = "#{market_portfolio.price - market_portfolio.market.price}" rescue nil
                      %td.px-6.py-4.whitespace-nowrap.text-right.text-sm.font-medium
                        - if policy(:market).buy? && policy(:market).sell?
                          %div
                            %a.bg-yellow-600.py-2.px-5.text-white.rounded.modal-open{"data-target" => "sell-#{market_portfolio.market.id}", "data-toggle" => "modal"} SELL
                          = render :partial => 'markets/sell_form', :locals => { :info => market_portfolio }
:javascript
  var table = $('#example').DataTable( {
    responsive: true
  } )
  .columns.adjust()
  .responsive.recalc();
  
  var openmodal = document.querySelectorAll('.modal-open')
    let selectedModalTargetId = ''
    for (var i = 0; i < openmodal.length; i++) {
      openmodal[i].addEventListener('click', function(event){
        selectedModalTargetId = event.target.attributes.getNamedItem('data-target').value
        event.preventDefault()
        toggleModal()
      })
    }

  const overlay = document.querySelector('.modal-overlay')
  overlay.addEventListener('click', toggleModal)

  var closemodal = document.querySelectorAll('.modal-close')
  for (var i = 0; i < closemodal.length; i++) {
    closemodal[i].addEventListener('click', toggleModal)
  }

  document.onkeydown = function(evt) {
    evt = evt || window.event
    var isEscape = false
    if ("key" in evt) {
      isEscape = (evt.key === "Escape" || evt.key === "Esc")
    } else {
      isEscape = (evt.keyCode === 27)
    }
    if (isEscape && document.body.classList.contains('modal-active')) {
      toggleModal()
    }
  }

  function toggleModal () {
    if(!selectedModalTargetId) {
      return
    }
    const body = document.querySelector('body')
    const modal = document.getElementById(selectedModalTargetId)
    modal.classList.toggle('opacity-0')
    modal.classList.toggle('pointer-events-none')
    body.classList.toggle('modal-active')
  }
  /*Toggle dropdown list*/
  function toggleDD(myDropMenu) {
      document.getElementById(myDropMenu).classList.toggle("invisible");
  }
  /*Filter dropdown options*/
  function filterDD(myDropMenu, myDropMenuSearch) {
      var input, filter, ul, li, a, i;
      input = document.getElementById(myDropMenuSearch);
      filter = input.value.toUpperCase();
      div = document.getElementById(myDropMenu);
      a = div.getElementsByTagName("a");
      for (i = 0; i < a.length; i++) {
          if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
              a[i].style.display = "";
          } else {
              a[i].style.display = "none";
          }
      }
  }
  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
      if (!event.target.matches('.drop-button') && !event.target.matches('.drop-search')) {
          var dropdowns = document.getElementsByClassName("dropdownlist");
          for (var i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (!openDropdown.classList.contains('invisible')) {
                  openDropdown.classList.add('invisible');
              }
          }
      }
  }